<footer class="footer">
    <div class="line"></div>
    <div class="footer-content">
        <div class="footer-icons">
            <a href="https://github.com/binidowu" target="_blank" class="text-secondary">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/in/ayomide-adebayo-1b0131278/" target="_blank"
                class="text-secondary ml-3">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
        </div>
        <div class="footer-email text-secondary">
            <p>adebayormide@gmail.com</p>
        </div>
    </div>
    <div class="line"></div>
</footer>

</html>