/* General Styles */

/* Resetting margins and padding to eliminate potential white space */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0b192f; /* Dark background color */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.logo {
  width: 50px;
}

/* Navbar Styles */
.navbar {
  background-color: #0b192f; /* Dark background color */
  padding: 0.5rem 1rem; /* Added padding for spacing */
  /* margin-top: -3.3rem; */
  margin: 0; /* Ensure no margin on navbar */
}

.navbar .nav-link {
  color: #ccd6f7; /* Link color */
  margin-right: 1rem; /* Added margin for spacing between links */
}

.navbar .nav-link:hover {
  color: #64ffda; /* Hover color same as button color */
}

.navbar .navbar-brand,
.navbar .nav-link {
    padding: 1rem; /* Reduced padding for less height */
    margin-right: 1rem; /* Existing margin for spacing between links */
    color: #ccd6f7; /* Link color */
}

.navbar .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #64ffda;  /* Color of line, same as button color */
  transition: width 0.3s;  /* Animation to make line grow/shrink */
}

.navbar .nav-link:hover::after {
  width: 100%;  /* Full width line on hover */
}

.navbar .nav-item.active .nav-link::after {
  width: 100%;  /* Full width line for active link */
  color: #64ffda
}
.navbar .nav-item:active, .navbar .nav-item:focus{
  color: #64ffda;
}



/* Intro Section Styles */
.intro {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* Changed from flex-end to flex-start for left alignment */
  justify-content: center;
  padding-left: 13%;  /* Changed from padding-right to padding-left for left alignment */
  color: #ccd6f7;  /* Light text color */
  margin-top: -6rem;
}

.intro h1 {
  font-size: 1.25rem;
  /* text-transform: lowercase; */
  margin: 0;
  color: #64ffda;  /* Changed color to match the button color */
}

.intro .name {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
  color: #ccd6f7;
}

.intro .lead {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
  color: #8892af;
}

.intro p {
  color: #aab4be; /* Dull color */
  margin-top: 1rem;
  max-width: 600px;  /* Added max-width to prevent text extending too far */
  font-size: 1.25rem;
}

.btn-outline {
  border: 1px solid #64ffda;
  color: #64ffda;
  padding: .7rem 2.5rem;  /* Adjusted padding for more width and less height */
  margin-top: 2rem;  /* Added margin */
}

.btn-outline:hover {
  background-color: #64ffda;
  color: #0b192f;
}


/* Footer Styles */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b192f; /* Dark background color */
  padding: 1rem;
}


.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccd6f7;
  margin: 0 2rem;;/* Added margin to create space between the line and the icons/email */

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%; /* Adjust as needed to change the space between the lines, icons, and email */
}

.footer-icons, .footer-email {
  display: flex;
  margin: 0 5rem;
}

.text-secondary {
  color: #ccd6f7 !important;
}

.footer-icons a {
  margin-right: 1rem; /* Adjust margin as needed */
  color: #ffffff;
  font-size: 12px;
}
.footer-email p {
  margin: 0; /* Reset margin */
  font-size: 0.9rem; /* Adjust font size as needed */
  letter-spacing: 0.05em; /* Adjust letter spacing */
}

/* About styling */
.about {
  width: 70%;
  margin: auto;
  padding: 1rem 0 5rem 0; 
}

.about-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.about-header h1 {
  color: #ccd6f7;
  margin-right: 2rem;
}

.header-line {
  flex-grow: 0;
  height: 1px;
  background-color:#aab4be;
  width: 30%;
}

.about-content {
  margin-top: 3rem;
  color: #8892b0;
}

.about-text {
  width: 55%;
}
.skills {
  margin-top: 1rem;
}

.skill-category p {
  margin-bottom: 0.5rem;
  
}

.skill-category p strong{
  margin-bottom: 0.5rem;
  color: #64ffda;
}

.skill-list {
  display: flex;
  justify-content: center;
  font-size: 13.5px;
  gap: -1rem -1rem;
  padding: 0px;
  margin: 20px 0px 20px;

}
.skill-column {
  width: 45%; 
  padding: 0 1rem;
}
.text-button {
  color: #64ffda;
  font-size: .7rem;
  margin-right: .35rem;
}
.about-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-border {
  border: 1.5px solid #64ffda; 
  padding: 1rem;
}

.about-image img {
  width: 400px;  
  height: auto;
  display: block;
}

