/* General Styles */

/* Resetting margins and padding to eliminate potential white space */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0b192f; /* Dark background color */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.logo {
  width: 50px;
}

/* Navbar Styles */
.navbar {
  background-color: #0b192f; /* Dark background color */
  padding: 0.5rem 1rem; /* Added padding for spacing */
  /* margin-top: -3.3rem; */
  margin: 0; /* Ensure no margin on navbar */
}

.navbar .nav-link {
  color: #ccd6f7; /* Link color */
  margin-right: 1rem; /* Added margin for spacing between links */
}

.navbar .nav-link:hover {
  color: #64ffda; /* Hover color same as button color */
}

.navbar .navbar-brand,
.navbar .nav-link {
    padding: 1rem; /* Reduced padding for less height */
    margin-right: 1rem; /* Existing margin for spacing between links */
    color: #ccd6f7; /* Link color */
}

.navbar .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #64ffda;  /* Color of line, same as button color */
  transition: width 0.3s;  /* Animation to make line grow/shrink */
}

.navbar .nav-link:hover::after {
  width: 100%;  /* Full width line on hover */
}

.navbar .nav-item.active .nav-link::after {
  width: 100%;  /* Full width line for active link */
}
.navbar .nav-item:active{
  color: #64ffda;
}



/* Intro Section Styles */
.intro {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* Changed from flex-end to flex-start for left alignment */
  justify-content: center;
  padding-left: 13%;  /* Changed from padding-right to padding-left for left alignment */
  color: #ccd6f7;  /* Light text color */
  margin-top: -6rem;
}

.intro h1 {
  font-size: 1.25rem;
  /* text-transform: lowercase; */
  margin: 0;
  color: #64ffda;  /* Changed color to match the button color */
}

.intro .name {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
  color: #ccd6f7;
}

.intro .lead {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
  color: #8892af;
}

.intro p {
  color: #aab4be; /* Dull color */
  margin-top: 1rem;
  max-width: 600px;  /* Added max-width to prevent text extending too far */
  font-size: 1.25rem;
}

.btn-outline {
  border: 1px solid #64ffda;
  color: #64ffda;
  padding: .7rem 2.5rem;  /* Adjusted padding for more width and less height */
  margin-top: 2rem;  /* Added margin */
}

.btn-outline:hover {
  background-color: #64ffda;
  color: #0b192f;
}


/* Footer Styles */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b192f; /* Dark background color */
  padding: 1rem;
  z-index: 2;
}


.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccd6f7;
  margin: 0 2rem;;/* Added margin to create space between the line and the icons/email */

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%; /* Adjust as needed to change the space between the lines, icons, and email */
}

.footer-icons, .footer-email {
  display: flex;
  margin: 0 5rem;
}

.text-secondary {
  color: #ccd6f7 !important;
}

.footer-icons a {
  margin-right: 1rem; /* Adjust margin as needed */
  color: #ffffff;
  font-size: 12px;
}
.footer-email p {
  margin: 0; /* Reset margin */
  font-size: 0.9rem; /* Adjust font size as needed */
  letter-spacing: 0.05em; /* Adjust letter spacing */
}

/* About styling */
.about {
  width: 70%;
  margin: auto;
  padding: 1rem 0 5rem 0; 
}

.about-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.about-header h1 {
  color: #ccd6f7;
  margin-right: 2rem;
}

.header-line {
  flex-grow: 0;
  height: 1px;
  background-color:#aab4be;
  width: 30%;
}

.about-content {
  margin-top: 3rem;
  color: #8892b0;
}

.about-text {
  width: 55%;
}
.skills {
  margin-top: 1rem;
}

.skill-category p {
  margin-bottom: 0.5rem;
  
}

.skill-category p strong{
  margin-bottom: 0.5rem;
  color: #64ffda;
}

.skill-list {
  display: flex;
  justify-content: center;
  font-size: 13.5px;
  gap: -1rem -1rem;
  padding: 0px;
  margin: 20px 0px 20px;

}
.skill-column {
  width: 45%; 
  padding: 0 1rem;
}
.text-button {
  color: #64ffda;
  font-size: .7rem;
  margin-right: .35rem;
}
.about-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-border {
  border: 1.5px solid #64ffda; 
  padding: 1rem;
}

.about-image img {
  width: 400px;  
  height: auto;
  display: block;
}

/* project styles */

.project{
  width: 70%; 
  margin: 0 auto;    
  padding: 0 15px; 
  padding-bottom: 10rem;
  z-index: 1;
}

.project-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.project-header h1 {
  color: #ccd6f7;
  margin-right: 2rem;
}

.header-line {
  flex-grow: 0;
  height: 1px;
  background-color:#aab4be;
  width: 35%;
}
.project-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 2rem;
}

.project-item:first-child {
  margin-top: 1rem; 
}

.project-image {
  width: 700px;
  height: auto;
  object-fit: cover;
  position: relative;
}

.project-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #347e7d;
  opacity: 0.5;  /* Adjust opacity to control the intensity of the tint */
  transition: opacity 0.3s;
}

.project-image:hover::before { 
  opacity: 0;  /* Remove tint on hover */
}

.project-info {
  width: 50%;
  padding: 2rem;
  position: relative;
  z-index: 2;
  text-align: right; 
}
.featured-project {
  color: #64ffda;
}

.project-name {
  color: #ccd6f6;
  font-size: 26px;
}

.project-description {
  background-color: #112240;
  color: #ccd6f6;
  padding: 20px;
  position: relative;
  z-index: 2;
  width: 550px;
  margin-left: -120px;
  margin-right: 20px; 
  
}

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 20px 0 10px;
  padding: 2px;
  list-style: none;
  color: #ccd6f6;
  justify-content: flex-end;
}

.project-tech-list li {
  margin-right: 15px;
}


.project-image img {
  /* Add hover effect for image */
  transition: 0.3s;
  width: 564px;
  height: 400px
  /* 564 × 351; */
  /* margin-right: -50px;  */
}

.project-image img:hover {
  background-color: #1d4753;
}

/* Services Styles */
.services {
  width: 70%;
  margin: auto;
  padding: 1rem 0 5rem 0; 
}

.services-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.services-header h1 {
  color: #ccd6f7;
  margin-right: 2rem;
}


.service-container {
  display: flex;
  width: 100%;
  margin-top: 3rem;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #ccd6f7;
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
  width: 280px;
  text-align: left;
}

.tab-button:hover {
  background-color: #112240;
}

.tab-button.active {
  color: #64ffda;
}

.tab-button {
  border-left: 0.5px solid #aab4be;
  /* ... other styles */
}

.tab-button.active {
  border-left: 2px solid #64ffda;
}

.panels {
  flex-grow: 1;
  background-color: #112240;
  padding: 20px;
  color: #ccd6f7;
  margin-left: 15px;
}

.panels .panel {
  display: none;
}
.panels .panel.active {
  display: block;
}


/* Contact styles */
.contact{
  width: 70%;
  margin: auto;
  padding: 1rem 0 5rem 0; 
}

.contact label {
  color: #ccd6f7; 
}

.contact-header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.contact-header h1 {
  color: #ccd6f7;
  margin-right: 2rem;
}

.contact .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #939191;
  border-radius: 0;
  transition: border-color 0.3s;
}

.contact .form-control:focus {
  border-color: #64ffda;
  box-shadow: none;
}

.btn-outline {
  border: 1px solid #64ffda;
  color: #64ffda;
  padding: .7rem 2.5rem;
  margin-top: 2rem;
}

.btn-outline:hover {
  background-color: #64ffda;
  color: #0b192f;
}