<%- include('partials/header') %>

    <div class="row">
        <div class="col-lg-4">
            <img src="/images/headshot.jpg" alt="Your Image" class="img-fluid rounded-circle mb-3">
        </div>
        <div class="col-lg-8">
            <h1>Your Legal Name</h1>
            <p>Hello! I'm a software developer with a passion for solving complex problems...</p>
            <a href="/files/resume.pdf" class="btn btn-outline-primary">Download Resume</a>
        </div>
    </div>

    <%- include('partials/footer') %>