<%- include('partials/header.ejs') %>

    <div class="container">
        <h1>About Me</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="/images/your-image.jpg" alt="Your Image" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt distinctio reiciendis a, totam
                    quaerat est ipsum voluptas quisquam iste quis ratione officia veritatis doloremque veniam dolore
                    libero soluta. Iusto, inventore.</p>
                <a href="/files/resume.pdf" class="btn btn-outline-secondary" target="_blank">Download My Resume</a>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>