<%- include('partials/header') %>


    <section class="about">
        <div class="about-header">
            <h1>About Me</h1>
            <div class="header-line"></div>
        </div>
        <div class="about-content row align-items-start">
            <div class="about-text col-md-6">
                <p>Hello,</p>
                I'm Ayomide Adebayo, and I have a passion for creating web-based applications. My journey into the world
                of software engineering began in 2019 when I attended a bootcamp. This early experience allowed me to
                gain proficiency in HTML and CSS.
                <br><br>
                Today, I am pursuing an Advanced Diploma in Software Engineering Technology at Centennial College in
                Toronto, where I maintain an exceptional GPA of 4.2/4.5 (A). My education has equipped me with a strong
                foundation in various aspects of software development.
                <br><br>
                Here are some of my key skills and areas of expertise:
                <div class="skills">
                    <div class="skill-category">
                        <p><strong>Languages</strong> </p>
                        <div class="skill-list">
                            <div class="skill-column">
                                <p><i class="far fa-star text-button"></i> C#</p>
                                <p><i class="far fa-star text-button"></i> Python</p>
                                <p><i class="far fa-star text-button"></i> JavaScript</p>
                                <p><i class="far fa-star text-button"></i> HTML5</p>
                                <p><i class="far fa-star text-button"></i> CSS3</p>
                            </div>
                            <div class="skill-column">
                                <p><i class="far fa-star text-button"></i> Java</p>
                                <p><i class="far fa-star text-button"></i> C</p>
                                <p><i class="far fa-star text-button"></i> Linux</p>
                                <p><i class="far fa-star text-button"></i> SQL Server</p>
                                <p><i class="far fa-star text-button"></i> Oracle</p>
                            </div>
                        </div>
                    </div>
                    <div class="skill-category">
                        <p><strong>Frameworks and Libraries</strong> </p>
                        <div class="skill-list">
                            <div class="skill-column">
                                <p><i class="far fa-star text-button"></i> Node.js</p>
                                <p><i class="far fa-star text-button"></i> Express.js</p>
                                <p><i class="far fa-star text-button"></i> React.js</p>
                                <p><i class="far fa-star text-button"></i> jQuery</p>
                            </div>
                            <div class="skill-column">
                                <p><i class="far fa-star text-button"></i> Django</p>
                                <p><i class="far fa-star text-button"></i> Flash</p>
                                <p><i class="far fa-star text-button"></i> Spring</p>
                                <p><i class="far fa-star text-button"></i> Spring Boot</p>
                            </div>
                        </div>
                    </div>
                    <div class="skill-category">
                        <p><strong>Tools</strong> </p>
                        <div class="skill-list">
                            <div class="skill-column">
                                <p><i class="far fa-star text-button"></i> Github</p>
                                <p><i class="far fa-star text-button"></i> MS Visio</p>
                                <p><i class="far fa-star text-button"></i> Jira</p>
                                <p><i class="far fa-star text-button"></i> Visual Paradigm</p>
                            </div>
                            <div class="skill-column">
                                <p><i class="far fa-star text-button"></i> Draw.io</p>
                                <p><i class="far fa-star text-button"></i> MS Word</p>
                                <p><i class="far fa-star text-button"></i> MS Excel</p>
                                <p><i class="far fa-star text-button"></i> MS Powerpoint</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">

            </div>
            <div class="about-image col-md-6">
                <div class="image-border">
                    <img src="images/image.jpeg" alt="Ayomide Adebayo">
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>