<%- include('partials/header.ejs') %>

    <div class="container">
        <h1>Contact Me</h1>
        <p>Reach out to me via this form or find me on social channels below.</p>
        <form action="/contact" method="post">
            <!-- Form fields for First Name, Last Name, etc. -->
        </form>
        <!--  -->
    </div>

    <%- include('partials/footer.ejs') %>