<%- include('partials/header') %>

    <section class="project">
        <div class="project-header">
            <h1>Some Things I've Built</h1>
            <div class="header-line"></div>
        </div>
        <div class="project-grid">
            <!-- Repeat this block for each project -->
            <div class="project-item">
                <div class="project-image">
                    <img src="images/projec.png" alt="Project Name">
                </div>
                <div class="project-info">
                    <p class="featured-project">Featured Project</p>
                    <h2 class="project-name">E-Library</h2>
                    <div class="project-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt illum nihil repudiandae ex
                            officia, laboriosam provident explicabo beatae quasi dignissimos ipsam vero corporis.</p>
                    </div>
                    <ul class="project-tech-list">
                        <!-- List of tech used -->
                        <li>Python</li>
                        <li>Django</li>
                        <li>JavaScript</li>
                        <li>Html5</li>
                        <li>CSS3</li>
                    </ul>
                    <div class="project-links">
                        <!-- GitHub Link -->
                        <a href="github_repo_url"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <!-- End of Project Block -->
            <!-- Repeat this block for each project -->
            <div class="project-item">
                <div class="project-image">
                    <img src="images/projec.png" alt="Project Name">
                </div>
                <div class="project-info">
                    <p class="featured-project">Featured Project</p>
                    <h2 class="project-name">E-Library</h2>
                    <div class="project-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt illum nihil repudiandae ex
                            officia, laboriosam provident explicabo beatae quasi dignissimos ipsam vero corporis.</p>
                    </div>
                    <ul class="project-tech-list">
                        <!-- List of tech used -->
                        <li>Python</li>
                        <li>Django</li>
                        <li>JavaScript</li>
                        <li>Html5</li>
                        <li>CSS3</li>
                    </ul>
                    <div class="project-links">
                        <!-- GitHub Link -->
                        <a href="github_repo_url"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <!-- End of Project Block -->
            <!-- Repeat this block for each project -->
            <div class="project-item">
                <div class="project-image">
                    <img src="images/projec.png" alt="Project Name">
                </div>
                <div class="project-info">
                    <p class="featured-project">Featured Project</p>
                    <h2 class="project-name">E-Library</h2>
                    <div class="project-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt illum nihil repudiandae ex
                            officia, laboriosam provident explicabo beatae quasi dignissimos ipsam vero corporis.</p>
                    </div>
                    <ul class="project-tech-list">
                        <!-- List of tech used -->
                        <li>Python</li>
                        <li>Django</li>
                        <li>JavaScript</li>
                        <li>Html5</li>
                        <li>CSS3</li>
                    </ul>
                    <div class="project-links">
                        <!-- GitHub Link -->
                        <a href="github_repo_url"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <!-- End of Project Block -->
        </div>
    </section>

    <%- include('partials/footer') %>