<%- include('partials/header') %>

    <body>
        <section class="project">
            <div class="project-header">
                <h1>Some Things I've Built</h1>
                <div class="header-line"></div>
            </div>
            <div class="project-grid">
                <!-- Repeat this block for each project -->
                <div class="project-item">
                    <div class="project-image">
                        <img src="images/E-library.png" alt="Project Name">
                    </div>
                    <div class="project-info">
                        <p class="featured-project">Featured Project</p>
                        <h2 class="project-name">E-Library</h2>
                        <div class="project-description">
                            <p>Developed an Online Library Management System (OLMS) to enhance library operations,
                                allowing librarians to manage resources and track collections. The system includes user
                                registration, online reading, and downloads, as well as an admin module for report
                                generation. This digital transformation improved efficiency and data accuracy.
                            </p>
                        </div>
                        <ul class="project-tech-list">
                            <!-- List of tech used -->
                            <li>Python</li>
                            <li>Django</li>
                            <li>JavaScript</li>
                            <li>HTML5</li>
                            <li>CSS3</li>
                        </ul>
                        <div class="project-links">
                            <!-- GitHub Link -->
                            <a href="https://github.com/binidowu/E-Library"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End of Project Block -->
                <!-- Repeat this block for each project -->
                <div class="project-item">
                    <div class="project-image">
                        <img src="images/Portfolio.png" alt="Project Name">
                    </div>
                    <div class="project-info">
                        <p class="featured-project">Featured Project</p>
                        <h2 class="project-name">Express Portfolio Website</h2>
                        <div class="project-description">
                            <p>A personal portfolio website crafted with ExpressJS, utilizing HTML, CSS, JavaScript, and
                                Bootstrap, enhanced with the EJS templating engine for dynamic content rendering.
                            </p>
                        </div>
                        <ul class="project-tech-list">
                            <!-- List of tech used -->
                            <li>ExpressJS</li>
                            <li>EJS</li>
                            <li>JavaScript</li>
                            <li>HTML5</li>
                            <li>CSS3</li>
                        </ul>
                        <div class="project-links">
                            <!-- GitHub Link -->
                            <a href="https://github.com/binidowu/ExpressPortfolioSite"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End of Project Block -->
                <!-- Repeat this block for each project -->
                <div class="project-item">
                    <div class="project-image">
                        <img src="images/Test.png" alt="Project Name">
                    </div>
                    <div class="project-info">
                        <p class="featured-project">Featured Project</p>
                        <h2 class="project-name">Javax Swing Quiz</h2>
                        <div class="project-description">
                            <p>A Java application simulates a test on the first three lectures of the course, presenting
                                at least five multiple-choice questions, and uses a random-number generator to provide
                                either congratulatory feedback for correct answers or encouraging prompts with the right
                                answer for incorrect responses.
                            </p>
                        </div>
                        <ul class="project-tech-list">
                            <!-- List of tech used -->
                            <li>Java</li>
                        </ul>
                        <div class="project-links">
                            <!-- GitHub Link -->
                            <a href="github_repo_url"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End of Project Block -->
            </div>
        </section>

    </body>

    <%- include('partials/footer') %>