<%- include('partials/header.ejs') %>

    <div class="container">
        <h1>Projects</h1>

        <!-- Example of a project card -->
        <div class="card project-card">
            <div class="row no-gutters">
                <div class="col-md-4 project-image">
                    <img src="../../public/images/" class="card-img" alt="Project Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Project Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
                            consectetur aspernatur aut sunt, neque necessitatibus qui iure! Quod, dolore! Ad quaerat
                            iusto odit sunt magni officia in ipsa facere recusandae!</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ... More project cards ... -->
    </div>

    <%- include('partials/footer.ejs') %>