<%- include('partials/header') %>

    <body>
        <section class="services">
            <!-- Heading -->
            <div class="services-header">
                <h1>Services Offered</h1>
                <div class="header-line"></div>
            </div>
            <div class="service-container">

                <div class="tabs">
                    <button class="tab-button active" onclick="showService(0)">Web Development</button>
                    <button class="tab-button" onclick="showService(1)">Mobile Application Development</button>
                    <button class="tab-button" onclick="showService(2)">Software Design</button>
                    <button class="tab-button" onclick="showService(3)">Software Development</button>
                </div>
                <div class="panels">
                    <div class="panel active">
                        <h3>Web Development</h3>
                        <p>Expertise in web interface design, client-side development, and UI/UX for responsive design,
                            ensuring user-friendly and visually appealing applications.</p>
                    </div>
                    <div class="panel">
                        <h3>Mobile Application Development</h3>
                        <p>Foundational knowledge in Android app development, focusing on creating seamless mobile
                            experiences for users.</p>
                    </div>
                    <div class="panel">
                        <h3>Software Design</h3>
                        <p>Proficient in software systems design, emphasizing user-system interactions, domain class
                            diagrams, and interaction flow.</p>
                    </div>
                    <div class="panel">
                        <h3>Software Development</h3>
                        <p>Skilled in various programming languages and frameworks, with experience in projects like the
                            Online Library Management System using Python and Django.</p>
                    </div>
                </div>
        </section>
    </body>

    <%- include('partials/footer') %>