<%- include('partials/header.ejs') %>

    <div class="container">
        <h1>Services</h1>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="/images/service1.jpg" alt="Service Image" class="img-fluid rounded-circle mb-3">
                <h4>Programming</h4>
            </div>
            <!-- ... More services ... -->
        </div>
    </div>

    <%- include('partials/footer.ejs') %>