<%- include('partials/header') %>

    <h1 class="my-4">Services Offered</h1>
    <ul class="list-group">
        <li class="list-group-item">Programming</li>
        <li class="list-group-item">Web Development</li>
        <!-- ... -->
    </ul>

    <%- include('partials/footer') %>